extends ./layout.jade
block content
	h1 Comentarios 
	each comentario in comentarios
		h4= comentario.titulocoment
		h4= comentario.usuariocoment
		h4= comentario.pelicomentario
		h4= comentario.peliestrellas