extends ./layout.jade
block content
	div( class="span6" class="center-block")
		form(class="form-signin" method="POST" action="/comentario")
			h2(class="form-signin-heading") Nuevo comentario
			div(class="form-group")
				input(type="text" required  name="titulo" placeholder="Titulo" class="input-block-level" onkeypress="upperCase('titulo');")
				input(type="text" required  name="usuario" placeholder="usuario" class="input-block-level" onkeypress="upperCase('titulo');")
				h5 comentario
				textarea(type="text" required name="comentario" rows="5" placeholder="Texto" class="input-block-level")
				h5 estrellas
				input(type="number" required  name="estrellas" placeholder="usuario" class="input-block-level" onkeypress="upperCase('titulo');")
				button(class="btn btn-large btn-primary" type="submit") Crear


