extends ./layout.jade
block content
	div( class="span6" class="center-block")
		form(class="form-signin" method="POST" class="evento" action="#" id="evento" runat="server" enctype='multipart/from-data')
			h2(class="form-signin-heading") Nuevo
			input(type="text" required  name="titulo" placeholder="Titulo del aviso" class="input-block-level" onkeypress="upperCase('titulo');")
			h5 fecha 
			input(type="date" required name="fechaa" class="col_6" placeholder="2014-10-26" class="input-block-level")
			textarea(type="text" required name="texto" rows="5" placeholder="Texto del aviso" class="input-block-level")
			button(class="btn btn-large btn-primary" type="submit") Crear


