doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		link(href="/css/stylesheet.css" rel="stylesheet")
		link(href="/css/login.css" rel="stylesheet")
		link(href="/css/bootstrap.css" rel="stylesheet")
		script(type="text/javascript" src="/js/jquery.js")
		script(type="text/javascript" src="/js/bootstrap.js")
		block link
	body(style="background-color: #F24C27;")
		div(class="page-header" style="background-color: #F2AE72; margin-top: -40px;")
			img(src="/imgs/titulo.png" class="center-block img-responsive banner" alt="")
		block content