body 
{
  padding-top: 40px;
  padding-bottom: 40px;
}

h1
{
  color: black;
  font-weight: bold;
  text-align: center;
}

.botonLogin
{
  color: white;
  background: #5F5448;
  border: #5F5448;
  margin-top: 50px;
}

.botonLogin:hover
{
  color: white;
  background: #024959;
  border: #024959;
  margin-top: 50px;
}

.container, h4
{
  padding-top: 50px;
}

.form-signin 
{
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: white;
  border: 10px solid #024959;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox 
{
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] 
{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}